<!--
Will Nzeuton, Andy Shyklo, Kyle Lee, Margie Cao
JOY ACROSS BORDERS 🔥🔥😵‍💫 by madeinguatemala
SoftDev
p04
2025-04-02
-->

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="static/css/style.css">
        <title>Map</title>
    </head>
    <body>
        <div id="nav"></div>
        <h1><b>JOY ACROSS BORDERS 🔥🔥😵‍💫<b></h1>

        {% if error %}
        <h2>{{error}}</h2>
        {% endif %}

         <section style="margin: auto 50px">
        <div class="input-group" id="">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" id="search-input"/>
            <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init>search</button>
        </div>
        <ul id="suggestions-list"></ul>
    </section>

    <div class="mapcontainer">
        <div class="map">
            <span>Alternative content for the map</span>
        </div>
        <div class="areaLegend"></div>
        <div class="plotLegend"></div>
    </div>

    <!-- Load jQuery, Popper, Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mapael/2.1.0/js/jquery.mapael.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://rawgit.com/neveldo/jQuery-Mapael/master/js/maps/world_countries_mercator.js" charset="utf-8"></script>
    <!-- Shoutout GPT for writing the countryNames and Area variables and Mapael for the example -->
    <script>
        const countryNames = {
  AF: "Afghanistan",
  AL: "Albania",
  DZ: "Algeria",
  AO: "Angola",
  AR: "Argentina",
  AM: "Armenia",
  AU: "Australia",
  AT: "Austria",
  AZ: "Azerbaijan",
  BH: "Bahrain",
  BD: "Bangladesh",
  BY: "Belarus",
  BE: "Belgium",
  BZ: "Belize",
  BJ: "Benin",
  BT: "Bhutan",
  BO: "Bolivia",
  BA: "Bosnia and Herzegovina",
  BW: "Botswana",
  BR: "Brazil",
  BG: "Bulgaria",
  BF: "Burkina Faso",
  BI: "Burundi",
  KH: "Cambodia",
  CM: "Cameroon",
  CA: "Canada",
  CF: "Central African Republic",
  TD: "Chad",
  CL: "Chile",
  CN: "China",
  CO: "Colombia",
  KM: "Comoros",
  CG: "Congo (Brazzaville)",
  CD: "Congo (Kinshasa)",
  CR: "Costa Rica",
  HR: "Croatia",
  CY: "Cyprus",
  CZ: "Czech Republic",
  DK: "Denmark",
  DJ: "Djibouti",
  DO: "Dominican Republic",
  EC: "Ecuador",
  EG: "Egypt",
  SV: "El Salvador",
  EE: "Estonia",
  ET: "Ethiopia",
  FI: "Finland",
  FR: "France",
  GA: "Gabon",
  GM: "Gambia",
  GE: "Georgia",
  DE: "Germany",
  GH: "Ghana",
  GR: "Greece",
  GT: "Guatemala",
  GN: "Guinea",
  HT: "Haiti",
  HN: "Honduras",
  HK: "Hong Kong",
  HU: "Hungary",
  IS: "Iceland",
  IN: "India",
  ID: "Indonesia",
  IR: "Iran",
  IQ: "Iraq",
  IE: "Ireland",
  IL: "Israel",
  IT: "Italy",
  CI: "Ivory Coast",
  JM: "Jamaica",
  JP: "Japan",
  JO: "Jordan",
  KZ: "Kazakhstan",
  KE: "Kenya",
  XK: "Kosovo",
  KW: "Kuwait",
  KG: "Kyrgyzstan",
  LA: "Laos",
  LV: "Latvia",
  LB: "Lebanon",
  LS: "Lesotho",
  LR: "Liberia",
  LY: "Libya",
  LT: "Lithuania",
  LU: "Luxembourg",
  MG: "Madagascar",
  MW: "Malawi",
  MY: "Malaysia",
  ML: "Mali",
  MT: "Malta",
  MR: "Mauritania",
  MU: "Mauritius",
  MX: "Mexico",
  MD: "Moldova",
  MN: "Mongolia",
  ME: "Montenegro",
  MA: "Morocco",
  MZ: "Mozambique",
  MM: "Myanmar",
  NA: "Namibia",
  NP: "Nepal",
  NL: "Netherlands",
  NZ: "New Zealand",
  NI: "Nicaragua",
  NE: "Niger",
  NG: "Nigeria",
  MK: "North Macedonia",
  NO: "Norway",
  OM: "Oman",
  PK: "Pakistan",
  PS: "Palestinian Territories",
  PA: "Panama",
  PY: "Paraguay",
  PE: "Peru",
  PH: "Philippines",
  PL: "Poland",
  PT: "Portugal",
  PR: "Puerto Rico",
  QA: "Qatar",
  RO: "Romania",
  RU: "Russia",
  RW: "Rwanda",
  SA: "Saudi Arabia",
  SN: "Senegal",
  RS: "Serbia",
  SL: "Sierra Leone",
  SG: "Singapore",
  SK: "Slovakia",
  SI: "Slovenia",
  SO: "Somalia",
  ZA: "South Africa",
  KR: "South Korea",
  SS: "South Sudan",
  ES: "Spain",
  LK: "Sri Lanka",
  SD: "Sudan",
  SR: "Suriname",
  SZ: "Swaziland",
  SE: "Sweden",
  CH: "Switzerland",
  SY: "Syria",
  TW: "Taiwan",
  TJ: "Tajikistan",
  TZ: "Tanzania",
  TH: "Thailand",
  TG: "Togo",
  TT: "Trinidad and Tobago",
  TN: "Tunisia",
  TR: "Turkey",
  TM: "Turkmenistan",
  UG: "Uganda",
  UA: "Ukraine",
  AE: "United Arab Emirates",
  GB: "United Kingdom",
  US: "United States",
  UY: "Uruguay",
  UZ: "Uzbekistan",
  VE: "Venezuela",
  VN: "Vietnam",
  YE: "Yemen",
  ZM: "Zambia",
  ZW: "Zimbabwe"
};


        $(function () {
            $(".mapcontainer").mapael({
                map: {
                    name: "world_countries_mercator",
                    defaultArea: {
                        eventHandlers: {
                            click: function (e, id, mapElem, textElem) {
                                const name = countryNames[id];
                                console.log(name);
                                alert(name); 
                                return name;
                            }
                        }
                    }
                },
                areas: {
        "AF": { "href": "/country/${countryNames[0]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Afghanistan</span>" } },
        "AL": { "href": "/country/${countryNames[1]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Albania</span>" } },
        "DZ": { "href": "/country/${countryNames[2]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Algeria</span>" } },
        "AO": { "href": "/country/${countryNames[3]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Angola</span>" } },
        "AR": { "href": "/country/${countryNames[4]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Argentina</span>" } },
        "AM": { "href": "/country/${countryNames[5]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Armenia</span>" } },
        "AU": { "href": "/country/${countryNames[6]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Australia</span>" } },
        "AT": { "href": "/country/${countryNames[7]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Austria</span>" } },
        "AZ": { "href": "/country/${countryNames[8]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Azerbaijan</span>" } },
        "BH": { "href": "/country/${countryNames[9]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Bahrain</span>" } },
        "BD": { "href": "/country/${countryNames[10]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Bangladesh</span>" } },
        "BY": { "href": "/country/${countryNames[11]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Belarus</span>" } },
        "BE": { "href": "/country/${countryNames[12]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Belgium</span>" } },
        "BZ": { "href": "/country/${countryNames[13]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Belize</span>" } },
        "BJ": { "href": "/country/${countryNames[14]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Benin</span>" } },
        "BT": { "href": "/country/${countryNames[15]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Bhutan</span>" } },
        "BO": { "href": "/country/${countryNames[16]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Bolivia</span>" } },
        "BA": { "href": "/country/${countryNames[17]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Bosnia and Herzegovina</span>" } },
        "BW": { "href": "/country/${countryNames[18]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Botswana</span>" } },
        "BR": { "href": "/country/${countryNames[19]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Brazil</span>" } },
        "BG": { "href": "/country/${countryNames[20]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Bulgaria</span>" } },
        "BF": { "href": "/country/${countryNames[21]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Burkina Faso</span>" } },
        "BI": { "href": "/country/${countryNames[22]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Burundi</span>" } },
        "KH": { "href": "/country/${countryNames[23]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Cambodia</span>" } },
        "CM": { "href": "/country/${countryNames[24]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Cameroon</span>" } },
        "CA": { "href": "/country/${countryNames[25]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Canada</span>" } },
        "CF": { "href": "/country/${countryNames[26]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Central African Republic</span>" } },
        "TD": { "href": "/country/${countryNames[27]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Chad</span>" } },
        "CL": { "href": "/country/${countryNames[28]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Chile</span>" } },
        "CN": { "href": "/country/${countryNames[29]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">China</span>" } },
        "CO": { "href": "/country/${countryNames[30]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Colombia</span>" } },
        "KM": { "href": "/country/${countryNames[31]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Comoros</span>" } },
        "CG": { "href": "/country/${countryNames[32]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Congo (Brazzaville)</span>" } },
        "CD": { "href": "/country/${countryNames[33]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Congo (Kinshasa)</span>" } },
        "CR": { "href": "/country/${countryNames[34]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Costa Rica</span>" } },
        "HR": { "href": "/country/${countryNames[35]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Croatia</span>" } },
        "CY": { "href": "/country/${countryNames[36]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Cyprus</span>" } },
        "CZ": { "href": "/country/${countryNames[37]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Czech Republic</span>" } },
        "DK": { "href": "/country/${countryNames[38]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Denmark</span>" } },
        "DJ": { "href": "/country/${countryNames[39]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Djibouti</span>" } },
        "DO": { "href": "/country/${countryNames[40]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Dominican Republic</span>" } },
        "EC": { "href": "/country/${countryNames[41]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Ecuador</span>" } },
        "EG": { "href": "/country/${countryNames[42]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Egypt</span>" } },
        "SV": { "href": "/country/${countryNames[43]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">El Salvador</span>" } },
        "EE": { "href": "/country/${countryNames[44]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Estonia</span>" } },
        "ET": { "href": "/country/${countryNames[45]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Ethiopia</span>" } },
        "FI": { "href": "/country/${countryNames[46]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Finland</span>" } },
        "FR": { "href": "/country/${countryNames[47]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">France</span>" } },
        "GA": { "href": "/country/${countryNames[48]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Gabon</span>" } },
        "GM": { "href": "/country/${countryNames[49]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Gambia</span>" } },
        "GE": { "href": "/country/${countryNames[50]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Georgia</span>" } },
        "DE": { "href": "/country/${countryNames[51]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Germany</span>" } },
        "GH": { "href": "/country/${countryNames[52]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Ghana</span>" } },
        "GR": { "href": "/country/${countryNames[53]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Greece</span>" } },
        "GT": { "href": "/country/${countryNames[54]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Guatemala</span>" } },
        "GN": { "href": "/country/${countryNames[55]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Guinea</span>" } },
        "HT": { "href": "/country/${countryNames[56]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Haiti</span>" } },
        "HN": { "href": "/country/${countryNames[57]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Honduras</span>" } },
        "HK": { "href": "/country/${countryNames[58]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Hong Kong</span>" } },
        "HU": { "href": "/country/${countryNames[59]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Hungary</span>" } },
        "IS": { "href": "/country/${countryNames[60]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Iceland</span>" } },
        "IN": { "href": "/country/${countryNames[61]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">India</span>" } },
        "ID": { "href": "/country/${countryNames[62]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Indonesia</span>" } },
        "IR": { "href": "/country/${countryNames[63]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Iran</span>" } },
        "IQ": { "href": "/country/${countryNames[64]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Iraq</span>" } },
        "IE": { "href": "/country/${countryNames[65]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Ireland</span>" } },
        "IL": { "href": "/country/${countryNames[66]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Israel</span>" } },
        "IT": { "href": "/country/${countryNames[67]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Italy</span>" } },
        "CI": { "href": "/country/${countryNames[68]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Ivory Coast</span>" } },
        "JM": { "href": "/country/${countryNames[69]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Jamaica</span>" } },
        "JP": { "href": "/country/${countryNames[70]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Japan</span>" } },
        "JO": { "href": "/country/${countryNames[71]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Jordan</span>" } },
        "KZ": { "href": "/country/${countryNames[72]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Kazakhstan</span>" } },
        "KE": { "href": "/country/${countryNames[73]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Kenya</span>" } },
        "XK": { "href": "/country/${countryNames[74]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Kosovo</span>" } },
        "KW": { "href": "/country/${countryNames[75]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Kuwait</span>" } },
        "KG": { "href": "/country/${countryNames[76]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Kyrgyzstan</span>" } },
        "LA": { "href": "/country/${countryNames[77]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Laos</span>" } },
        "LV": { "href": "/country/${countryNames[78]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Latvia</span>" } },
        "LB": { "href": "/country/${countryNames[79]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Lebanon</span>" } },
        "LS": { "href": "/country/${countryNames[80]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Lesotho</span>" } },
        "LR": { "href": "/country/${countryNames[81]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Liberia</span>" } },
        "LY": { "href": "/country/${countryNames[82]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Libya</span>" } },
        "LT": { "href": "/country/${countryNames[83]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Lithuania</span>" } },
        "LU": { "href": "/country/${countryNames[84]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Luxembourg</span>" } },
        "MG": { "href": "/country/${countryNames[85]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Madagascar</span>" } },
        "MW": { "href": "/country/${countryNames[86]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Malawi</span>" } },
        "MY": { "href": "/country/${countryNames[87]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Malaysia</span>" } },
        "ML": { "href": "/country/${countryNames[88]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Mali</span>" } },
        "MT": { "href": "/country/${countryNames[89]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Malta</span>" } },
        "MR": { "href": "/country/${countryNames[90]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Mauritania</span>" } },
        "MU": { "href": "/country/${countryNames[91]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Mauritius</span>" } },
        "MX": { "href": "/country/${countryNames[92]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Mexico</span>" } },
        "MD": { "href": "/country/${countryNames[93]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Moldova</span>" } },
        "MN": { "href": "/country/${countryNames[94]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Mongolia</span>" } },
        "ME": { "href": "/country/${countryNames[95]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Montenegro</span>" } },
        "MA": { "href": "/country/${countryNames[96]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Morocco</span>" } },
        "MZ": { "href": "/country/${countryNames[97]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Mozambique</span>" } },
        "MM": { "href": "/country/${countryNames[98]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Myanmar</span>" } },
        "NA": { "href": "/country/${countryNames[99]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Namibia</span>" } },
        "NP": { "href": "/country/${countryNames[100]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Nepal</span>" } },
        "NL": { "href": "/country/${countryNames[101]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Netherlands</span>" } },
        "NZ": { "href": "/country/${countryNames[102]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">New Zealand</span>" } },
        "NI": { "href": "/country/${countryNames[103]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Nicaragua</span>" } },
        "NE": { "href": "/country/${countryNames[104]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Niger</span>" } },
        "NG": { "href": "/country/${countryNames[105]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Nigeria</span>" } },
        "MK": { "href": "/country/${countryNames[106]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">North Macedonia</span>" } },
        "NO": { "href": "/country/${countryNames[107]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Norway</span>" } },
        "OM": { "href": "/country/${countryNames[108]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Oman</span>" } },
        "PK": { "href": "/country/${countryNames[109]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Pakistan</span>" } },
        "PS": { "href": "/country/${countryNames[110]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Palestinian Territories</span>" } },
        "PA": { "href": "/country/${countryNames[111]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Panama</span>" } },
        "PY": { "href": "/country/${countryNames[112]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Paraguay</span>" } },
        "PE": { "href": "/country/${countryNames[113]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Peru</span>" } },
        "PH": { "href": "/country/${countryNames[114]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Philippines</span>" } },
        "PL": { "href": "/country/${countryNames[115]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Poland</span>" } },
        "PT": { "href": "/country/${countryNames[116]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Portugal</span>" } },
        "PR": { "href": "/country/${countryNames[117]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Puerto Rico</span>" } },
        "QA": { "href": "/country/${countryNames[118]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Qatar</span>" } },
        "RO": { "href": "/country/${countryNames[119]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Romania</span>" } },
        "RU": { "href": "/country/${countryNames[120]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Russia</span>" } },
        "RW": { "href": "/country/${countryNames[121]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Rwanda</span>" } },
        "SA": { "href": "/country/${countryNames[122]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Saudi Arabia</span>" } },
        "SN": { "href": "/country/${countryNames[123]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Senegal</span>" } },
        "RS": { "href": "/country/${countryNames[124]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Serbia</span>" } },
        "SL": { "href": "/country/${countryNames[125]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Sierra Leone</span>" } },
        "SG": { "href": "/country/${countryNames[126]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Singapore</span>" } },
        "SK": { "href": "/country/${countryNames[127]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Slovakia</span>" } },
        "SI": { "href": "/country/${countryNames[128]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Slovenia</span>" } },
        "SO": { "href": "/country/${countryNames[129]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Somalia</span>" } },
        "ZA": { "href": "/country/${countryNames[130]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">South Africa</span>" } },
        "KR": { "href": "/country/${countryNames[131]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">South Korea</span>" } },
        "SS": { "href": "/country/${countryNames[132]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">South Sudan</span>" } },
        "ES": { "href": "/country/${countryNames[133]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Spain</span>" } },
        "LK": { "href": "/country/${countryNames[134]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Sri Lanka</span>" } },
        "SD": { "href": "/country/${countryNames[135]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Sudan</span>" } },
        "SR": { "href": "/country/${countryNames[136]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Suriname</span>" } },
        "SZ": { "href": "/country/${countryNames[137]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Swaziland</span>" } },
        "SE": { "href": "/country/${countryNames[138]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Sweden</span>" } },
        "CH": { "href": "/country/${countryNames[139]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Switzerland</span>" } },
        "SY": { "href": "/country/${countryNames[140]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Syria</span>" } },
        "TW": { "href": "/country/${countryNames[141]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Taiwan</span>" } },
        "TJ": { "href": "/country/${countryNames[142]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Tajikistan</span>" } },
        "TZ": { "href": "/country/${countryNames[143]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Tanzania</span>" } },
        "TH": { "href": "/country/${countryNames[144]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Thailand</span>" } },
        "TG": { "href": "/country/${countryNames[145]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Togo</span>" } },
        "TT": { "href": "/country/${countryNames[146]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Trinidad and Tobago</span>" } },
        "TN": { "href": "/country/${countryNames[147]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Tunisia</span>" } },
        "TR": { "href": "/country/${countryNames[148]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Turkey</span>" } },
        "TM": { "href": "/country/${countryNames[149]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Turkmenistan</span>" } },
        "UG": { "href": "/country/${countryNames[150]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Uganda</span>" } },
        "UA": { "href": "/country/${countryNames[151]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Ukraine</span>" } },
        "AE": { "href": "/country/${countryNames[152]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">United Arab Emirates</span>" } },
        "GB": { "href": "/country/${countryNames[153]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">United Kingdom</span>" } },
        "US": { "href": "/country/${countryNames[154]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">United States</span>" } },
        "UY": { "href": "/country/${countryNames[155]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Uruguay</span>" } },
        "UZ": { "href": "/country/${countryNames[156]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Uzbekistan</span>" } },
        "VE": { "href": "/country/${countryNames[157]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Venezuela</span>" } },
        "VN": { "href": "/country/${countryNames[158]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Vietnam</span>" } },
        "YE": { "href": "/country/${countryNames[159]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Yemen</span>" } },
        "ZM": { "href": "/country/${countryNames[160]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Zambia</span>" } },
        "ZW": { "href": "/country/${countryNames[161]}", "tooltip": { "content": "<span style=\"font-weight:bold;\">Zimbabwe</span>" } },
     
                }
            });
        });
    </script>
</body>
</html>
