<!--
Will Nzeuton, Andy Shyklo, Kyle Lee, Margie Cao
JOY ACROSS BORDERS 🔥🔥😵‍💫 by madeinguatemala
SoftDev
p04
2025-04-02
-->

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="static/css/style.css">
        <title>Map</title>
    </head>
    <body>
        <div id="nav"></div>
        <h1><b>JOY ACROSS BORDERS 🔥🔥😵‍💫<b></h1>

        {% if error %}
        <h2>{{error}}</h2>
        {% endif %}

         <section style="margin: auto 50px">
        <div class="input-group" id="">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" id="search-input"/>
            <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init>search</button>
        </div>
        <ul id="suggestions-list"></ul>
    </section>

    <div class="mapcontainer">
        <div class="map">
            <span>Alternative content for the map</span>
        </div>
        <div class="areaLegend"></div>
        <div class="plotLegend"></div>
    </div>

    <script src="static/js/search.js"></script>
    <script src="static/js/main.js"></script>

    <!-- Load jQuery, Popper, Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mapael/2.1.0/js/jquery.mapael.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://rawgit.com/neveldo/jQuery-Mapael/master/js/maps/world_countries_mercator.js" charset="utf-8"></script>
    <!-- Shoutout GPT for writing the countryNames and Area variables and Mapael for the example -->
    <script>
        const countryNames = {
  AF: "Afghanistan",
  AL: "Albania",
  DZ: "Algeria",
  AO: "Angola",
  AR: "Argentina",
  AM: "Armenia",
  AU: "Australia",
  AT: "Austria",
  AZ: "Azerbaijan",
  BH: "Bahrain",
  BD: "Bangladesh",
  BY: "Belarus",
  BE: "Belgium",
  BZ: "Belize",
  BJ: "Benin",
  BT: "Bhutan",
  BO: "Bolivia",
  BA: "Bosnia and Herzegovina",
  BW: "Botswana",
  BR: "Brazil",
  BG: "Bulgaria",
  BF: "Burkina Faso",
  BI: "Burundi",
  KH: "Cambodia",
  CM: "Cameroon",
  CA: "Canada",
  CF: "Central African Republic",
  TD: "Chad",
  CL: "Chile",
  CN: "China",
  CO: "Colombia",
  KM: "Comoros",
  CG: "Congo (Brazzaville)",
  CD: "Congo (Kinshasa)",
  CR: "Costa Rica",
  HR: "Croatia",
  CY: "Cyprus",
  CZ: "Czech Republic",
  DK: "Denmark",
  DJ: "Djibouti",
  DO: "Dominican Republic",
  EC: "Ecuador",
  EG: "Egypt",
  SV: "El Salvador",
  EE: "Estonia",
  ET: "Ethiopia",
  FI: "Finland",
  FR: "France",
  GA: "Gabon",
  GM: "Gambia",
  GE: "Georgia",
  DE: "Germany",
  GH: "Ghana",
  GR: "Greece",
  GT: "Guatemala",
  GN: "Guinea",
  HT: "Haiti",
  HN: "Honduras",
  HK: "Hong Kong",
  HU: "Hungary",
  IS: "Iceland",
  IN: "India",
  ID: "Indonesia",
  IR: "Iran",
  IQ: "Iraq",
  IE: "Ireland",
  IL: "Israel",
  IT: "Italy",
  CI: "Ivory Coast",
  JM: "Jamaica",
  JP: "Japan",
  JO: "Jordan",
  KZ: "Kazakhstan",
  KE: "Kenya",
  XK: "Kosovo",
  KW: "Kuwait",
  KG: "Kyrgyzstan",
  LA: "Laos",
  LV: "Latvia",
  LB: "Lebanon",
  LS: "Lesotho",
  LR: "Liberia",
  LY: "Libya",
  LT: "Lithuania",
  LU: "Luxembourg",
  MG: "Madagascar",
  MW: "Malawi",
  MY: "Malaysia",
  ML: "Mali",
  MT: "Malta",
  MR: "Mauritania",
  MU: "Mauritius",
  MX: "Mexico",
  MD: "Moldova",
  MN: "Mongolia",
  ME: "Montenegro",
  MA: "Morocco",
  MZ: "Mozambique",
  MM: "Myanmar",
  NA: "Namibia",
  NP: "Nepal",
  NL: "Netherlands",
  NZ: "New Zealand",
  NI: "Nicaragua",
  NE: "Niger",
  NG: "Nigeria",
  MK: "North Macedonia",
  NO: "Norway",
  OM: "Oman",
  PK: "Pakistan",
  PS: "Palestinian Territories",
  PA: "Panama",
  PY: "Paraguay",
  PE: "Peru",
  PH: "Philippines",
  PL: "Poland",
  PT: "Portugal",
  PR: "Puerto Rico",
  QA: "Qatar",
  RO: "Romania",
  RU: "Russia",
  RW: "Rwanda",
  SA: "Saudi Arabia",
  SN: "Senegal",
  RS: "Serbia",
  SL: "Sierra Leone",
  SG: "Singapore",
  SK: "Slovakia",
  SI: "Slovenia",
  SO: "Somalia",
  ZA: "South Africa",
  KR: "South Korea",
  SS: "South Sudan",
  ES: "Spain",
  LK: "Sri Lanka",
  SD: "Sudan",
  SR: "Suriname",
  SZ: "Swaziland",
  SE: "Sweden",
  CH: "Switzerland",
  SY: "Syria",
  TW: "Taiwan",
  TJ: "Tajikistan",
  TZ: "Tanzania",
  TH: "Thailand",
  TG: "Togo",
  TT: "Trinidad and Tobago",
  TN: "Tunisia",
  TR: "Turkey",
  TM: "Turkmenistan",
  UG: "Uganda",
  UA: "Ukraine",
  AE: "United Arab Emirates",
  GB: "United Kingdom",
  US: "United States",
  UY: "Uruguay",
  UZ: "Uzbekistan",
  VE: "Venezuela",
  VN: "Vietnam",
  YE: "Yemen",
  ZM: "Zambia",
  ZW: "Zimbabwe"
};


        $(function () {
            $(".mapcontainer").mapael({
                map: {
                    name: "world_countries_mercator",
                    defaultArea: {
                        eventHandlers: {
                            click: function (e, id, mapElem, textElem) {
                                const name = countryNames[id];
                                console.log(name);
                                alert(name); 
                                return name;
                            }
                        }
                    }
                },
                areas: {
                    "AF": { "href": `/country/Afghanistan`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Afghanistan</span>" } },
                    "AL": { "href": `/country/Albania`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Albania</span>" } },
                    "DZ": { "href": `/country/Algeria`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Algeria</span>" } },
                    "AO": { "href": `/country/Angola`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Angola</span>" } },
                    "AR": { "href": `/country/Argentina`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Argentina</span>" } },
                    "AM": { "href": `/country/Armenia`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Armenia</span>" } },
                    "AU": { "href": `/country/Australia`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Australia</span>" } },
                    "AT": { "href": `/country/Austria`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Austria</span>" } },
                    "AZ": { "href": `/country/Azerbaijan`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Azerbaijan</span>" } },
                    "BH": { "href": `/country/Bahrain`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Bahrain</span>" } },
                    "BD": { "href": `/country/Bangladesh`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Bangladesh</span>" } },
                    "BY": { "href": `/country/Belarus`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Belarus</span>" } },
                    "BE": { "href": `/country/Belgium`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Belgium</span>" } },
                    "BZ": { "href": `/country/Belize`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Belize</span>" } },
                    "BJ": { "href": `/country/Benin`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Benin</span>" } },
                    "BT": { "href": `/country/Bhutan`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Bhutan</span>" } },
                    "BO": { "href": `/country/Bolivia`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Bolivia</span>" } },
                    "BA": { "href": `/country/Bosnia and Herzegovina`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Bosnia and Herzegovina</span>" } },
                    "BW": { "href": `/country/Botswana`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Botswana</span>" } },
                    "BR": { "href": `/country/Brazil`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Brazil</span>" } },
                    "BG": { "href": `/country/Bulgaria`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Bulgaria</span>" } },
                    "BF": { "href": `/country/Burkina Faso`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Burkina Faso</span>" } },
                    "BI": { "href": `/country/Burundi`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Burundi</span>" } },
                    "KH": { "href": `/country/Cambodia`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Cambodia</span>" } },
                    "CM": { "href": `/country/Cameroon`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Cameroon</span>" } },
                    "CA": { "href": `/country/Canada`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Canada</span>" } },
                    "CF": { "href": `/country/Central African Republic`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Central African Republic</span>" } },
                    "TD": { "href": `/country/Chad`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Chad</span>" } },
                    "CL": { "href": `/country/Chile`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Chile</span>" } },
                    "CN": { "href": `/country/China`, "tooltip": { "content": "<span style=\"font-weight:bold;\">China</span>" } },
                    "CO": { "href": `/country/Colombia`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Colombia</span>" } },
                    "KM": { "href": `/country/Comoros`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Comoros</span>" } },
                    "CG": { "href": `/country/Congo (Brazzaville)`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Congo (Brazzaville)</span>" } },
                    "CD": { "href": `/country/Congo (Kinshasa)`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Congo (Kinshasa)</span>" } },
                    "CR": { "href": `/country/Costa Rica`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Costa Rica</span>" } },
                    "HR": { "href": `/country/Croatia`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Croatia</span>" } },
                    "CY": { "href": `/country/Cyprus`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Cyprus</span>" } },
                    "CZ": { "href": `/country/Czech Republic`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Czech Republic</span>" } },
                    "DK": { "href": `/country/Denmark`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Denmark</span>" } },
                    "DJ": { "href": `/country/Djibouti`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Djibouti</span>" } },
                    "DO": { "href": `/country/Dominican Republic`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Dominican Republic</span>" } },
                    "EC": { "href": `/country/Ecuador`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Ecuador</span>" } },
                    "EG": { "href": `/country/Egypt`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Egypt</span>" } },
                    "SV": { "href": `/country/El Salvador`, "tooltip": { "content": "<span style=\"font-weight:bold;\">El Salvador</span>" } },
                    "EE": { "href": `/country/Estonia`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Estonia</span>" } },
                    "ET": { "href": `/country/Ethiopia`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Ethiopia</span>" } },
                    "FI": { "href": `/country/Finland`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Finland</span>" } },
                    "FR": { "href": `/country/France`, "tooltip": { "content": "<span style=\"font-weight:bold;\">France</span>" } },
                    "GA": { "href": `/country/Gabon`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Gabon</span>" } },
                    "GM": { "href": `/country/Gambia`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Gambia</span>" } },
                    "GE": { "href": `/country/Georgia`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Georgia</span>" } },
                    "DE": { "href": `/country/Germany`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Germany</span>" } },
                    "GH": { "href": `/country/Ghana`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Ghana</span>" } },
                    "GR": { "href": `/country/Greece`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Greece</span>" } },
                    "GT": { "href": `/country/Guatemala`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Guatemala</span>" } },
                    "GN": { "href": `/country/Guinea`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Guinea</span>" } },
                    "HT": { "href": `/country/Haiti`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Haiti</span>" } },
                    "HN": { "href": `/country/Honduras`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Honduras</span>" } },
                    "HK": { "href": `/country/Hong Kong`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Hong Kong</span>" } },
                    "HU": { "href": `/country/Hungary`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Hungary</span>" } },
                    "IS": { "href": `/country/Iceland`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Iceland</span>" } },
                    "IN": { "href": `/country/India`, "tooltip": { "content": "<span style=\"font-weight:bold;\">India</span>" } },
                    "ID": { "href": `/country/Indonesia`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Indonesia</span>" } },
                    "IR": { "href": `/country/Iran`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Iran</span>" } },
                    "IQ": { "href": `/country/Iraq`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Iraq</span>" } },
                    "IE": { "href": `/country/Ireland`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Ireland</span>" } },
                    "IL": { "href": `/country/Israel`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Israel</span>" } },
                    "IT": { "href": `/country/Italy`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Italy</span>" } },
                    "CI": { "href": `/country/Ivory Coast`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Ivory Coast</span>" } },
                    "JM": { "href": `/country/Jamaica`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Jamaica</span>" } },
                    "JP": { "href": `/country/Japan`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Japan</span>" } },
                    "JO": { "href": `/country/Jordan`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Jordan</span>" } },
                    "KZ": { "href": `/country/Kazakhstan`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Kazakhstan</span>" } },
                    "KE": { "href": `/country/Kenya`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Kenya</span>" } },
                    "XK": { "href": `/country/Kosovo`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Kosovo</span>" } },
                    "KW": { "href": `/country/Kuwait`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Kuwait</span>" } },
                    "KG": { "href": `/country/Kyrgyzstan`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Kyrgyzstan</span>" } },
                    "LA": { "href": `/country/Laos`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Laos</span>" } },
                    "LV": { "href": `/country/Latvia`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Latvia</span>" } },
                    "LB": { "href": `/country/Lebanon`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Lebanon</span>" } },
                    "LS": { "href": `/country/Lesotho`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Lesotho</span>" } },
                    "LR": { "href": `/country/Liberia`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Liberia</span>" } },
                    "LY": { "href": `/country/Libya`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Libya</span>" } },
                    "LT": { "href": `/country/Lithuania`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Lithuania</span>" } },
                    "LU": { "href": `/country/Luxembourg`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Luxembourg</span>" } },
                    "MG": { "href": `/country/Madagascar`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Madagascar</span>" } },
                    "MW": { "href": `/country/Malawi`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Malawi</span>" } },
                    "MY": { "href": `/country/Malaysia`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Malaysia</span>" } },
                    "ML": { "href": `/country/Mali`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Mali</span>" } },
                    "MT": { "href": `/country/Malta`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Malta</span>" } },
                    "MR": { "href": `/country/Mauritania`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Mauritania</span>" } },
                    "MU": { "href": `/country/Mauritius`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Mauritius</span>" } },
                    "MX": { "href": `/country/Mexico`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Mexico</span>" } },
                    "MD": { "href": `/country/Moldova`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Moldova</span>" } },
                    "MN": { "href": `/country/Mongolia`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Mongolia</span>" } },
                    "ME": { "href": `/country/Montenegro`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Montenegro</span>" } },
                    "MA": { "href": `/country/Morocco`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Morocco</span>" } },
                    "MZ": { "href": `/country/Mozambique`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Mozambique</span>" } },
                    "MM": { "href": `/country/Myanmar`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Myanmar</span>" } },
                    "NA": { "href": `/country/Namibia`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Namibia</span>" } },
                    "NP": { "href": `/country/Nepal`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Nepal</span>" } },
                    "NL": { "href": `/country/Netherlands`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Netherlands</span>" } },
                    "NZ": { "href": `/country/New Zealand`, "tooltip": { "content": "<span style=\"font-weight:bold;\">New Zealand</span>" } },
                    "NI": { "href": `/country/Nicaragua`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Nicaragua</span>" } },
                    "NE": { "href": `/country/Niger`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Niger</span>" } },
                    "NG": { "href": `/country/Nigeria`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Nigeria</span>" } },
                    "MK": { "href": `/country/North Macedonia`, "tooltip": { "content": "<span style=\"font-weight:bold;\">North Macedonia</span>" } },
                    "NO": { "href": `/country/Norway`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Norway</span>" } },
                    "OM": { "href": `/country/Oman`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Oman</span>" } },
                    "PK": { "href": `/country/Pakistan`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Pakistan</span>" } },
                    "PS": { "href": `/country/Palestinian Territories`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Palestinian Territories</span>" } },
                    "PA": { "href": `/country/Panama`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Panama</span>" } },
                    "PY": { "href": `/country/Paraguay`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Paraguay</span>" } },
                    "PE": { "href": `/country/Peru`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Peru</span>" } },
                    "PH": { "href": `/country/Philippines`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Philippines</span>" } },
                    "PL": { "href": `/country/Poland`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Poland</span>" } },
                    "PT": { "href": `/country/Portugal`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Portugal</span>" } },
                    "PR": { "href": `/country/Puerto Rico`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Puerto Rico</span>" } },
                    "QA": { "href": `/country/Qatar`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Qatar</span>" } },
                    "RO": { "href": `/country/Romania`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Romania</span>" } },
                    "RU": { "href": `/country/Russia`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Russia</span>" } },
                    "RW": { "href": `/country/Rwanda`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Rwanda</span>" } },
                    "SA": { "href": `/country/Saudi Arabia`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Saudi Arabia</span>" } },
                    "SN": { "href": `/country/Senegal`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Senegal</span>" } },
                    "RS": { "href": `/country/Serbia`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Serbia</span>" } },
                    "SL": { "href": `/country/Sierra Leone`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Sierra Leone</span>" } },
                    "SG": { "href": `/country/Singapore`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Singapore</span>" } },
                    "SK": { "href": `/country/Slovakia`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Slovakia</span>" } },
                    "SI": { "href": `/country/Slovenia`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Slovenia</span>" } },
                    "SO": { "href": `/country/Somalia`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Somalia</span>" } },
                    "ZA": { "href": `/country/South Africa`, "tooltip": { "content": "<span style=\"font-weight:bold;\">South Africa</span>" } },
                    "KR": { "href": `/country/South Korea`, "tooltip": { "content": "<span style=\"font-weight:bold;\">South Korea</span>" } },
                    "SS": { "href": `/country/South Sudan`, "tooltip": { "content": "<span style=\"font-weight:bold;\">South Sudan</span>" } },
                    "ES": { "href": `/country/Spain`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Spain</span>" } },
                    "LK": { "href": `/country/Sri Lanka`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Sri Lanka</span>" } },
                    "SD": { "href": `/country/Sudan`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Sudan</span>" } },
                    "SR": { "href": `/country/Suriname`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Suriname</span>" } },
                    "SZ": { "href": `/country/Swaziland`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Swaziland</span>" } },
                    "SE": { "href": `/country/Sweden`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Sweden</span>" } },
                    "CH": { "href": `/country/Switzerland`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Switzerland</span>" } },
                    "SY": { "href": `/country/Syria`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Syria</span>" } },
                    "TW": { "href": `/country/Taiwan`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Taiwan</span>" } },
                    "TJ": { "href": `/country/Tajikistan`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Tajikistan</span>" } },
                    "TZ": { "href": `/country/Tanzania`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Tanzania</span>" } },
                    "TH": { "href": `/country/Thailand`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Thailand</span>" } },
                    "TG": { "href": `/country/Togo`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Togo</span>" } },
                    "TT": { "href": `/country/Trinidad and Tobago`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Trinidad and Tobago</span>" } },
                    "TN": { "href": `/country/Tunisia`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Tunisia</span>" } },
                    "TR": { "href": `/country/Turkey`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Turkey</span>" } },
                    "TM": { "href": `/country/Turkmenistan`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Turkmenistan</span>" } },
                    "UG": { "href": `/country/Uganda`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Uganda</span>" } },
                    "UA": { "href": `/country/Ukraine`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Ukraine</span>" } },
                    "AE": { "href": `/country/United Arab Emirates`, "tooltip": { "content": "<span style=\"font-weight:bold;\">United Arab Emirates</span>" } },
                    "GB": { "href": `/country/United Kingdom`, "tooltip": { "content": "<span style=\"font-weight:bold;\">United Kingdom</span>" } },
                    "US": { "href": `/country/United States`, "tooltip": { "content": "<span style=\"font-weight:bold;\">United States</span>" } },
                    "UY": { "href": `/country/Uruguay`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Uruguay</span>" } },
                    "UZ": { "href": `/country/Uzbekistan`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Uzbekistan</span>" } },
                    "VE": { "href": `/country/Venezuela`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Venezuela</span>" } },
                    "VN": { "href": `/country/Vietnam`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Vietnam</span>" } },
                    "YE": { "href": `/country/Yemen`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Yemen</span>" } },
                    "ZM": { "href": `/country/Zambia`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Zambia</span>" } },
                    "ZW": { "href": `/country/Zimbabwe`, "tooltip": { "content": "<span style=\"font-weight:bold;\">Zimbabwe</span>" } },
     
                }
            });
        });
    </script>
</body>
</html>
